# Example series configuration to be used after running the
# default ateles.lua.
# Run in the ateles directory like:
# ateles$ treelm/peons/harvest_series.py -c series_example/series.config

files: restart_sample_header_*.lua
lua: build/debug/treelm/aotus/lua
harvester: build/debug/atl_harvesting
template: series_example/harvester.template
